*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.message__container {
  /* width: 100%; */
  /* height: 75vh; */
  padding: 20px;
  
}

/* .message__container > * {
  margin-bottom: 10px;
} */
/* .sender__name {
  text-align: right;
} */
.message__sender {
  background-color: rgb(194, 243, 194);
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  font-size: 15px;
}
.message__recipient {
  background-color: #f5ccc2;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}
.chatListButton {
  background: hsl(130, 60%, 37%);  
  /* border: 1px solid #f20000; */
  /* box-shadow: 0px 2px 0 #ed0000, 2px 4px 6px #fa0000; */
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
}

.chatListButton:hover {
  background: #198754;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  color: #0c3a26; 
  text-decoration: none;
  text-shadow: -1px -1px 0 #198754;
  transition: all 250ms linear;
  font-size: 1.09rem;
}
